extends layout/main-layout

block content
    .container.mt-5
        .card
            .card-header
                | 404 NOT FOUND
            .card-body
                h1 Sayfa Bulunamad&imath;.
                button.btn.btn-primary
                    a(style='color: #e6e6e6' href='/') Anasayfa
