<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/ad79ca9f6c.js"></script>
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            404 NOT FOUND
        </div>
        <div class="card-body">
            <h1>Sayfa Bulunamadı.</h1>
            <button class="btn btn-primary"><a style="color: #e6e6e6" href="/">Anasayfa</a></button>
        </div>
    </div>

</div>
</body>
</html>