head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=IBM+Plex+Sans:500&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Chivo:700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='../../css/style.css')
    script(src='../../app.js')
    script(src='../../modal.js')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='https://kit.fontawesome.com/ad79ca9f6c.js' crossorigin='anonymous')