nav.navbar.navbar-expand.navbar-light.bg-light.fixed-top
    img(src='../img/icons8_shopping_cart_1px.png')
    a.navbar-brand.nav-text(href='/' style='color: #F22459')
        | marketsende
    .container
        ul.navbar-nav.ml-auto
            li.nav-item
                a.btn.btn-outline-secondary.ml-2(href='/admin' role='button') Admin Demo Giriş


.container-fluid(style='padding-top: 110px')
    .row
        .col-md-12
            block content