extends ../layout/admin-main-layout

block content
    .row.mt-3
        .col-sm-6(style="margin-left:auto; margin-right:auto; width: 50em;")
            .card.mb-5
                if (action !== null && action === "error")
                    div.alert.alert-danger Hata. Fotoğraf alanı boş bırakılamaz.
                .card-header
                    h5 Slider Güncelle
                .card-body
                    .row
                        .col-md-12
                            form(action="/admin/edit-slider" method="POST" enctype="multipart/form-data")
                                input(type="hidden" name="id" value=`${carousel.id}`)
                                .row.form-group
                                    label(for="img").col-form-label.col-sm-3
                                        b Fotoğraf seçin:
                                    .col-sm-9
                                        input#img.form-control-file(type='file' name='img')
                                .row.form-group
                                    label(for="desc").col-form-label.col-sm-3
                                        b Carousel Açıklaması:
                                    .col-sm-9
                                        textarea#desc.form-control(type='text' name='desc' cols=10 rows=10) #{carousel.desc}
                                .row.form-group
                                    label(for="isActive").form-check-label.col-sm-3
                                        b Aktif Carousel:
                                    .col-sm-9
                                        select.form-control#isActive(name='isActive')
                                            if(carousel.isActive == "active")
                                                option(value="active" selected) Aktif
                                                option(value="notactive") Aktif Değil
                                            else
                                                option(value="active") Aktif
                                                option(value="notactive" selected) Aktif Değil

                                .form-group
                                    .col-sm-6.offset-1
                                        button.btn.btn-primary.offset-4(type='submit') Güncelle


